    <div class="row">
          <!-- left column -->
          <div class="col-md-8">
    <div class="card card-info">
        <div class="card-header">
        <h3 class="card-title">Edit Ownership Type</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" action="/schoolownership/edit/{{ownership.id}}" method="POST">
        <div class="card-body">
            <div class="form-group">
            <label for="name">Ownership Type</label>
            <input type="text" class="form-control" id="typeName"  name="typeName" value="{{ownership.typeName}}">
            </div>
            <div class="form-group">
            <label for="name">Description</label>
            <textarea class="form-control" id="description"  name="description">{{ownership.description}}</textarea>
            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Edit Ownership</button>
        </div>
        </form>
    </div>
</div>
<!-- End Form -->

<div class="col-md-4">
    </div>
    </div>
